* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.left-content {
  padding: 10px;
}

h3 {
  margin-top: 20px;
}

#play-agian {
  padding: 10px;
  margin: 20px 0;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

#play-agian i {
  margin-right: 10px;
}

@media only screen and (max-width: 764px) {
  main {
    padding: 0;
    flex-direction: column;
  }
}
